[Unit]
Description=Run OpenCHAMI Log Compactor Daily
Documentation=https://github.com/OpenCHAMI/legendary-funicular

[Timer]
OnCalendar=daily
OnCalendar=*-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target
