[Unit]
Description=OpenCHAMI Log Compactor
After=network-online.target
Documentation=https://github.com/OpenCHAMI/legendary-funicular

[Container]
Image=ghcr.io/openchami/logq-compactor:latest
Environment=S3_ENDPOINT=http://host.containers.internal:7070
Environment=S3_ACCESS_KEY=log-compactor-key
Environment=S3_SECRET_KEY=log-compactor-secret
Environment=S3_BUCKET_RAW=openchami-logs-raw
Environment=S3_BUCKET_COMPACTED=openchami-logs-daily
Environment=S3_SSL=false
Network=host

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
